<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  My name is Jeffrey Gu. This is my homepage: 
  <a href="www.jeffreygu.com">jeffreygu.com </a>.
  Contact email: 
  <a href="jgu@jeffreygu.com">jgu@jeffreygu</a>.
</p>